# ============================================================
#  CoffeeBI — Configuration Backend
#  Copiez ce fichier en ".env" et adaptez les valeurs
# ============================================================

# ── Base de données MySQL ────────────────────────────────────
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306        
DB_NAME=coffee_ai

# ── JWT ──────────────────────────────────────────────────────
SECRET_KEY=cafe_pfe_secret_key_2026
ALGORITHM=jghghghh
ACCESS_TOKEN_EXPIRE_MINUTES=60
